.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
    background: var(--inputs);
    border-bottom: 1px solid var(--white);
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logoBox {
    display: flex;
    align-items: center;
}

.logoLink {
    display: inline-block;
}

.logo {
    width: 135px;
    height: 40px;
    display: block;
}

.nav {
    display: flex;
    gap: 32px;
    margin: 0 auto;
}

.nav a {
    text-decoration: none;
    cursor: pointer;
    color: var(--main);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

}

.nav a:hover {
    color: var(--button-hover);
}