.container {
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    padding: 44px;
    width: 641px;
    background: var(--background);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 8px;
    color: var(--main);
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 24px;
}

.input {
    width: 100%;
    padding: 14px 18px;
    background: var(--inputs);
    border: none;
    border-radius: 12px;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
}

.input::placeholder {
    color: var(--gray);
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--main-light);
}

.textarea {
    width: 100%;
    min-height: 118px;
    padding: 18px;
    background: var(--inputs);
    border: none;
    border-radius: 12px;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    resize: none;
}

.textarea::placeholder {
    color: var(--gray);
}

.textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--main-light);
}

.submitButton {
    padding: 12px 32px;
    border-radius: 12px;
    background: var(--button);
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
    transition: background 0.2s;
}

.submitButton:hover {
    background: var(--button-hover);
}

.toast {
    border-radius: 12px;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: fixed;
}

.toastContent {
    position: relative;
    background: var(--white);
    padding: 24px 32px;
    border-radius: 12px;
    animation: fadeIn 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.toastContent img {
    width: 48px;
    height: 48px;
}

.toastMessage {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 26px;
    line-height: 150%;
    color: var(--button-hover);
}

.datePicker {
    width: 100%;
    padding: 14px 18px;
    background: var(--inputs);
    border: none;
    border-radius: 12px;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    outline: none !important;
    box-shadow: none !important;
}