.filters {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
}

.title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--gray);
    margin-bottom: 32px;
}

.label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--gray-light);
    margin: 24px 0;
}

.equipment,
.types {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.equipmentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 112px;
    height: 96px;
    padding: 16px 40px;
    border-radius: 12px;
    border: 1px solid var(--gray-light);
    background: var(--white);
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
    transition: all 0.2s ease;
}

.typeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    width: 112px;
    height: 96px;
    padding: 16px 32px;
    background: var(--white);
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
    transition: all 0.2s ease;
}

.icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    display: inline-block;
    fill: currentColor;
    stroke: currentColor;
}

.active {
    border: 1px solid var(--button);
    background: var(--white);
    color: var(--main);
}

.searchBtn {
    align-self: flex-start;
    background: var(--button);
    border-radius: 200px;
    width: 166px;
    height: 56px;
    color: var(--white);
    padding: 16px 60px;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s ease;
}

.searchBtn:hover {
    background: var(--button-hover);
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.input {
    width: 360px;
    height: 56px;
    padding: 18px 0px 18px 40px;
    border-radius: 12px;
    border: none;
    background: var(--inputs);
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
    box-sizing: border-box;
}

.input:focus {
    color: var(--main);
}

.locationIcon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: currentColor;
    pointer-events: none;
    color: var(--text);
}

.input:focus+.locationIcon,
.inputWrapper:focus-within .locationIcon {
    color: var(--main);
}