.reviews {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 16px 0;
    width: 100%;
    padding: 0;
}

.review {
    background: transparent;
    padding: 12px 0;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid var(--white);

}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 4px;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    background: var(--badges);
    border-radius: 60px;
    width: 60px;
    height: 60px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--button);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    text-transform: uppercase;
}

.name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.comment {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
}

.noReviews {
    font-size: 16px;
    color: var(--text);
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ratingValue {
    font-size: 14px;
    font-weight: 500;
    color: var(--rating);
}

.userBlock {
    display: flex;
    align-items: center;
    gap: 12px;
}