.hero {
  width: 1440px;
  height: 696px;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.overlay {
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--inputs);
  margin-left: 64px;
}

.overlay h1 {
  font-size: 48px;
  line-height: 0.66667;
  margin-bottom: 16px;
}

.overlay p {
  font-size: 24px;
  line-height: 1.33333;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  background: var(--button);
  padding: 16px 60px;
  border-radius: 200px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
}

.button:hover {
  background: var(--button-hover);
}