.gallery {
    display: flex;
    gap: 48px;
    overflow-x: auto;
    padding: 16px 0;
}

.image {
    width: 312px;
    height: 292px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
    gap: 48px;
}