.card {
    display: flex;
    gap: 24px;
    border: 1px solid #f2f4f7;
    border-radius: 20px;
    padding: 24px;
    background: #fff;
}

.image {
    width: 290px;
    height: 310px;
    object-fit: cover;
    border-radius: 16px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 24px;
    font-weight: 600;
}

.price {
    font-size: 24px;
    font-weight: 600;
}

.location {
    color: #6c717b;
    margin: 8px 0;
}

.description {
    color: #475467;
    line-height: 1.4;
    margin-bottom: 16px;
}

.button {
    align-self: flex-start;
    background: #e44848;
    color: white;
    padding: 12px 24px;
    border-radius: 200px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

.button:hover {
    background: #d84343;
}

.priceFavorite {
    display: flex;
    align-items: center;
    gap: 8px;
    /* відстань між ціною і сердечком */
}

/* Кнопка-сердечко */
.favorite {
    background: none;
    /* без фону */
    border: none;
    /* без рамки */
    padding: 0;
    /* без внутрішніх відступів */
    margin: 0;
    /* без зовнішніх відступів */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* SVG серце */
.heartIcon {
    width: 20px;
    /* розмір серця */
    height: 20px;
    display: block;
    transition: stroke 0.3s;
    /* плавна зміна кольору */
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 8px 0;
}

.feature {
    background-color: #f2f4f7;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 12px;
    color: #333;
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    flex-shrink: 0;
}