.card {
    display: flex;
    background: var(--white);
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    padding: 24px;
    width: 888px;
    min-height: 368px;
    flex-direction: row;
    gap: 24px;
}

.image {
    border-radius: 10px;
    width: 292px;
    height: 320px;
    object-fit: cover;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.header h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--main);
}

.price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--main);
    gap: 12px;
}

.grope {
    display: flex;
    gap: 12px;
}

.location {
    color: var(--gray);
    margin: 8px 0;
}

.description {
    color: var(--text);
    line-height: 1.4;
    margin-bottom: 16px;
}

.button {
    display: flex;
    align-self: flex-start;
    background: var(--button);
    border-radius: 200px;
    width: 166px;
    height: 56px;
    color: var(--white);
    padding: 16px 40px;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s ease;
}

.button:hover {
    background: var(--button-hover);
}

.priceFavorite {
    display: flex;
    align-items: center;
    gap: 8px;
}

.favorite {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.heartIcon {
    width: 26px;
    height: 24px;
    display: block;
    transition: stroke 0.3s;
}

.ratingBlock {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    font-size: 14px;
    color: var(--main);
}

.ratingValue {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.reviews {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.locationBlock {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.locationIcon {
    width: 16px;
    height: 16px;
    fill: var(--main);
}

.locationText {
    line-height: 1.2;
}

.description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin-top: 24px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 8px;
    margin-bottom: 24px;
}

.feature {
    display: flex;
    align-items: center;
    border-radius: 100px;
    height: 48px;
    gap: 8px;
    background: var(--badges);
    padding: 12px 18px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--main);
}

.icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill: currentColor;
}