.page {
    padding: 24px;
    max-width: 1312px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--main);
}

.ratingLocation {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ratingBlock {
    display: flex;
    align-items: center;
    gap: 4px;
}

.starIcon {
    width: 16px;
    height: 16px;
}

.ratingValue,
.reviews {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--main);
}

.locationBlock {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
    display: flex;
    align-items: center;
    gap: 4px;
}

.locationIcon {
    width: 16px;
    height: 16px;
}

.locationText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--main);
}

.description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin-bottom: 60px;
}

.detailsLayout {
    display: flex;
    gap: 40px;
}

.leftColumn {
    flex: 2;
}

.rightColumn {
    flex: 1;
    position: sticky;
    top: 80px;
    height: max-content;
}

.tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid var(--gray-light);
}

.tabButton {
    background: none;
    border: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
    cursor: pointer;
    color: var(--text);
    border-bottom: 3px solid transparent;
    transition: color 0.2s, border-color 0.2s;
    margin-bottom: 24px;
}

.tabButton:hover {
    color: var(--main);
}

.activeTab {
    color: var(--main);
    border-color: var(--button);
}

.tabContent {
    margin-top: 24px;
}

.bookBtn {
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    background: var(--button);
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s ease;
}

.bookBtn:hover {
    background: var(--button-hover);
}

.message {
    font-size: 16px;
    color: var(--text);
}

.rightColumn {
    flex: 1;
    position: sticky;
    top: 80px;
    height: max-content;
    margin-top: 50px;
}

.tabContent {
    display: flex;
    gap: 24px;
}

.featuresWrapper {
    flex: 1;
    min-height: 400px;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 44px 52px;
}